{% extends 'base.html' %}

{% block body %}
<link href="{{ url_for('static',filename='CSS/carousel.css')}}" rel="stylesheet">
<hr class="featurette-divider">
        {% for galleryItem in data['GalleryEntries'] %}
            <div class = "row featurette">
                <div class = '{{ galleryItem["FirstDiv"] }}' >
                    <h2 class ="featurette-heading">{{ galleryItem["Header"] }}</h2>
                    <p class = "lead"> {{ galleryItem["Description"] }}</p>
                </div>
                <div class = '{{ galleryItem["SecondDiv"] }}' >
                    <img class="featurette-image img-fluid mx-auto" src = "{{ url_for('static', filename='Images/Gallery/Test1.png') }}" alt="">
                </div>
            </div>
            <hr class="featurette-divider">
        {% endfor %}

    <div id="carouselExample" class="carousel slide">
        <div class="text-centered">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ url_for('static', filename='Images/Domestic/Domestic1.jpeg' )}}" alt="..." >
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='Images/Domestic/Domestic2.jpeg' )}}" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='Images/Domestic/Domestic3.jpeg' )}}" alt="...">
    </div>
  </div>
            </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock %}